*{
    box-sizing: border-box;
    margin: 2;
    padding: 2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-color:rgb(225, 231, 239);
    background-position: center;
    background-size: cover;
}




ol li {
    margin-bottom: 10px;
}